.home{
    height:100vh;
    background:url('/background2.png')no-repeat;
    background-size:cover;
    background-position:center;
    display:flex;
    align-items:center;
    padding: 0 10%;
}

.home-content{
    width:700px;
}

.home-content h1{
    position:relative;
    line-height: 1.2;
    font-size: 56px;
    font-weight: 700;
}


.home-content h1::before{
    content:'';
    position: absolute;
    top:0;
    right:0;
    width:100%;
    height:100%;
    background:#030B1A;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}

.home-content h3{
    font-size:32px;
    font-weight: 700;
    color: #00aff0;
}

.home-content p{
    font-size:16px;
    margin:20px 0 40px;
}

.home-content .btn-box{
    display: flex;
    justify-content: space-between;
    width:345px;
    height:50px;
}

.btn-box a{
    position:relative;
    display: inline-flex;
    justify-content: center;
    align-items:center;
    width: 150px;
    height: 100%;
    background: #00aff0;
    border:2px solid #00aff0;
    border-radius:8px;
    font-size:19px;
    color: #030B1A;
    text-decoration:none;
    font-weight:600;
    letter-spacing: 1px;
    z-index: 1;
    overflow:hidden;
}

.btn-box a:hover{
    color:#00aff0;
}

.btn-box a:nth-child(2){
    background: transparent;
    color:#00aff0;  
}


.btn-box a:nth-child(2):hover{
    color:#030B1A;
}

.btn-box a:nth-child(2)::before{
    background:#00aff0;

}
.btn-box a::before{
    content: '';
    position:absolute;
    top:0;
    left:0;
    width:0%;
    height:100%;
    background:#030B1A;
    z-index:-1;
    transition:.5s;
}

.btn-box a:hover::before{
    width:100%;
}


.home-sci{
    position:absolute;
    bottom: 48px;
    width: 120px;
    display:flex;
    justify-content: space-between;

}

.home-sci a{
    color:#00aff0;
    position:relative;
    display:inline-flex;
    width:50px;
    height:50px;
    font-size: 30px;
    background:transparent;
    border: 2px solid #00aff0;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    z-index: 1;
    overflow:hidden;
}

.home-sci a::before{
    content:'';
    position:absolute;
    background:#00aff0;
    width:0%;
    height:100%;
    top:0;
    left:0;
    border-radius: 50%;
    z-index: -1;
    transition: .10s;

}

.home-sci a:hover{
    color:#030B1A;
}

.home-sci a:hover::before{
    width:100%;
}

.home-imgHover{
    position: absolute;
    bottom:0;
    right:0px;
    width:765px;
    height:89%;
    background:transparent;
    transition:1s;
}

.home-imgHover:hover{
    background:#030B1A;
}

.resume{
    display:flex;
    bottom: 100px;
    width:350px;
    height:70px;
    justify-content: center;
    align-items: center;
    overflow:none;
}
.resume a{
    width:250px;
    height:50px;
    font-size: 20px;
    display:inline-flex;
    color:#00aff0;
    border:2px solid #00aff0;
    border-radius:8px;
    align-items: center;
    justify-content: center;
    align-items:center;
    text-decoration: none;
    font-weight:600;
    letter-spacing: 1px;
}

.resume a::before{
    content:'';
    position:absolute;
    background:#00aff0;
    width:0%;
    height:100%;
    top:0;
    left:0;
    border-radius: 50%;
    z-index: -1;
    transition: .10s;

}

.resume a:hover{
    color:#b2c7c1;
}

.resume a:hover::before{
    width:100%;
}