.home{
    background-size:cover;
    background-position:center;
    padding:10px;
    
}
.main{
    background-color:aqua ;
    position:relative;
    height: 90%;
}
.main1{
    float: left;
    background: #2210c7;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    padding:20px
}
.main1-content{
    width:100%;
    background: rgb(26, 26, 8);
    color:rgb(206, 186, 170);
    display:flex;
    justify-content:center;
    align-items: center;
}
.main2{
    background: #1f75ca;
    display: flex;
    float:right;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    width: 35%;
    

}
.tech-stack{
    content:"";
    clear:both;
    display:table;
    background-color: #094f68;
    display:flex;
    justify-content: center;
    align-items: center;
}

.container1{
    padding-top: 2%;
    width:100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .container1 h1{
    position:relative;
    line-height: 0.8;
    font-size: 80px;
    font-weight: 700;
    height: 10%;
    background-color: red;
  }
  
  
  .container1 h1::before{
    content:'';
    position: absolute;
    top:0;
    right:0;
    width:100%;
    height:100%;
    background:#030c15;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
  }
  @media screen and (min-width: 545px) {
    .container1 h1 {
      font-size: 80px;
      background-color: lightblue;
    }
    font-size: 10px;
  }
  .container1 h3{
    font-size:32px;
    font-weight: 700;
    color: #00aff0;
    background-color: green;
  }
  
  .container1 p{
    font-size:16px;
    margin:20px 0 40px;
    background-color: orange;
  }
  
  .container1 .btn-box{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width:100%;
    height:40%;
    background-color: aquamarine;
  }

  .button-icon{
    position:relative;
    width: 35%;
    height:20%;
    background: 00aff0;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
}


.btn-box a{
    position:relative;
    display: inline-flex;
    justify-content: center;
    align-items:center;
    width: 45%;
    height: 100%;
    background: #00aff0;
    border:2px solid #00aff0;
    border-radius:8px;
    font-size:19px;
    color: #030c15;
    text-decoration:none;
    font-weight:600;
    letter-spacing: 1px;
    z-index: 1;
    overflow:hidden;
}

.btn-box a:hover{
    color:#00aff0;
}

.btn-box a:nth-child(2){
    background: transparent;
    color:#00aff0;  
}


.btn-box a:nth-child(2):hover{
    color:#030c15;
}

.btn-box a:nth-child(2)::before{
    background:#00aff0;

}
.btn-box a::before{
    content: '';
    position:absolute;
    top:0;
    left:0;
    width:0%;
    height:100%;
    background:#030c15;
    z-index:-1;
    transition:.5s;
}

.btn-box a:hover::before{
    width:100%;
}


.home-sci{
    position:absolute;
    bottom: 48px;
    width: 7vw;
    height: 4vh;
    display:flex;
    justify-content: space-between;

}

.home-sci a{
    color:#00aff0;
    position:relative;
    display:inline-flex;
    width:50px;
    height:50px;
    font-size: 30px;
    background:transparent;
    border: 2px solid #00aff0;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    z-index: 1;
    overflow:hidden;
}

.home-sci a::before{
    content:'';
    position:absolute;
    background:#00aff0;
    width:0%;
    height:100%;
    top:0;
    left:0;
    border-radius: 50%;
    z-index: -1;
    transition: .10s;

}

.home-sci a:hover{
    color:#030c15;
}

.home-sci a:hover::before{
    width:100%;
}

.home-imgHover{
    position: absolute;
    bottom:0;
    right:0px;
    width:765px;
    height:90.5%;
    background:transparent;
    transition:1s;
}

.home-imgHover:hover{
    background:#030c15;
}

.resume{
    display:flex;
    bottom: 100px;
    width:100%;
    height:50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow:none;
}
.resume a{
    position:relative;
    width:90%;
    height:100%;
    font-size: 20px;
    display:inline-flex;
    color:#00aff0;
    border:2px solid #00aff0;
    border-radius:8px;
    justify-content: center;
    align-items:center;
    text-decoration: none;
    font-weight:600;
    letter-spacing: 1px;
    overflow:hidden;
    z-index: 1;
}

.resume a::before{
    content:'';
    position:absolute;
    bottom:0;
    right:0;
    width:100%;
    height:0%;
    background:#00aff0;
    z-index: -1;
    transition: 1.0s;

}

.resume a:hover{
    color:#c5ded7;
    
}

.resume a:hover::before{
    height:100%;
}



@media  and (max-width=500px) {
    .main1 .main2{
        width:100%;
        padding:0;
    }
}